@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

li {
    display: inline;
}

li:hover {
    background-color: black;
    scale: 1.15;
    color: white;
    font-weight: 550;
    font-style: italic;
}


.inter {
     font-family: "Inter", sans-serif;
}

#dropdown {
   
}